@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stroke {
    @apply text-transparent;
    -webkit-text-stroke: 1px gray;
    text-stroke: 1px gray;
  }

  .text-gradient {
    @apply bg-gradient-to-l text-transparent from-red-300 to-cyan-300;
    -webkit-background-clip: text;
  }

  .bg-gradient1 {
    @apply bg-gradient-to-r from-purple-300 to-pink-400;
  }

  .bg-gradient2 {
    @apply bg-gradient-to-r from-sky-300 to-indigo-400;
  }

  .bg-tamaki {
    background-image: url("/images/tamaki.jpg");
    background-position: center;
    background-size: cover;
  }

  .blur-regulation {
    animation: blurRegulation 10s infinite alternate;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

body {
  background-color: rgb(249, 250, 251);
  color: rgb(107, 114, 128);
}

@keyframes blurRegulation {
  0%,
  40%,
  80% {
    filter: blur(5rem);
  }
  20%,
  60%,
  100% {
    filter: blur(2rem);
  }
}

@media (min-width: 640px) {
  @keyframes blurRegulation {
    0%,
    40%,
    80% {
      filter: blur(8rem);
    }
    20%,
    60%,
    100% {
      filter: blur(3rem);
    }
  }
}
